:root {
    --primary-color: #74b71b;
    --primary-color-dark: #537624;
    --table-color: #212529;
    --sidebar-color: #f6f6f6;
    --icons-color: #383838;
    --color-text: #E1E1E1;
    --color-white: #fff;
    --color-light: rgba(132, 139, 200, 0.18);
    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;
    --btn-radius: 10px;
    --card-border-radius: 1.8rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;
    --btn-radius: 10px;
    --card-padding: 1.8rem;
    --border-first-child: 1.8rem 0 0 0;
    --border-last-child: 0 1.8rem 0 0;
    --padding: 1.2rem;
    --box-shadow: 0 2rem 3rem var(--icons-color);
}

.navigator_default_main {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.6rem;
    height: 10% !important;
    border: none !important;
    border-radius:var(--card-border-radius) !important;
    background-color: #f6f6f6;
    margin-top: 20px;
    font-size: 12px;
}

    .navigator_default_main *, .navigator_default_main *:before, .navigator_default_main *:after {
        box-sizing: border-box;
    }

.navigator_default_line {
    border-bottom: 1px solid #ffffff;
}
/* month header */

.navigator_default_titleleft {
    border-top-left-radius: var(--card-border-radius);
}

.navigator_default_titleright {
    border-top-right-radius: var(--card-border-radius);
}

.navigator_default_title, .navigator_default_titleleft, .navigator_default_titleright {
    border-top:none !important;
    border-bottom:1px solid var(--color-text) !important;
    color: var(--icons-color);
    background: #f6f6f6;
}

.navigator_default_title {
    text-align: center;
}

.navigator_default_titleleft, .navigator_default_titleright {
    text-align: center;
}
/* day headers */
.navigator_default_dayheader {
    color: var(--icons-color);
    border-bottom:1px solid var(--color-text) !important;
    background: #f6f6f6;
    padding: 0px;
    text-align: center;
}
/* day cells */
.navigator_default_cell {
    color: var(--icons-color);
    background: #f6f6f6;
    text-align: center;
}

.navigator_default_cell_text {
    padding: 0px;
}

.navigator_default_weeknumber {
    color: #ffff;
    background: #ffff;
    text-align: center;
    padding: 0px;
}

.navigator_default_weekend {
    color: var(--icons-color);
    background: #f6f6f6;
    text-align: center;
    padding: 0px;
}

.navigator_default_dayother {
    color: gray;
    
}

.navigator_default_weekend:nth-last-of-type(n+2) {
    border-bottom-right-radius: var(--card-border-radius) !important;
    border-bottom-left-radius: var(--card-border-radius) !important;
}

.navigator_default_todaybox {
    border: 2px solid black;
    
}

.navigator_default_busy {
    font-weight: bold;
}

.navigator_default_select .navigator_default_cell_box {
    background-color: var(--primary-color); /*Cambiar*/
    opacity: 0.8;
}

/*Elimina la palabra DEMO*/
.scheduler_default_corner_inner + div {
    display: none;
}

.navigator_default_month{
    box-shadow:var(--box-shadow);
    transition:all 0.5s ease;
    border-bottom-right-radius:var(--card-border-radius) !important;
    border-bottom-left-radius: var(--card-border-radius) !important;
}

.navigator_default_month:hover{
    box-shadow: none;
}