:root {
    --primary-color: #74b71b;
    --primary-color-dark: #537624;
    --color-dark-variant: #677483;
    --color-dark: #363949;
    --table-color: #212529;
    --sidebar-color: #f6f6f6;
    --icons-color: #383838;
    --color-text: #E1E1E1;
    --color-white: #fff;
    --color-light: rgba(132, 139, 200, 0.18);
    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;
    --btn-radius: 10px;
    --card-border-radius: 1.8rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;
    --btn-radius: 10px;
    --card-padding: 1.8rem;
    --border-first-child: 1.8rem 0 0 0;
    --border-last-child: 0 1.8rem 0 0;
    --padding: 1.2rem;
    --box-shadow: 0 2rem 3rem var(--color-light);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/*Overrides*/

main .form-control{
    
    height:40px;
}

main form{
    width:96%;
}

main .botonCrear{
    width:130px !important;
}

/*Fin Overrides*/

main .contenedor{
    display:flex;
    justify-content:center;
}

main .flex{
    display:flex;
    justify-content:space-between;
    width:100%;
    gap:5rem;

}

main .in-flex{
    width:95%;
}

main .double-flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;
}

main .top-bar {
    display: flex;
    justify-content: space-between;
    background-color: #f6f6f6;
    box-sizing: border-box;
    height: 60px;
}

    main .top-bar .titulo-top {
        display: flex;
        color: var(--icons-color);
        align-items: center;
        margin-left: 30px;
    }

        main .top-bar .titulo-top h2 {
            font-size: 16px;
            font-weight: 600;
        }