:root {
    --primary-color: #74b71b;
    --primary-color-dark: #537624;
    --sidebar-color: #11101D;
    --color-white: #fff;
    --color-light: rgba(132, 139, 200, 0.18);
    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;
    --btn-radius: 10px;
    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;
    --btn-radius: 10px;
    --card-padding: 1.8rem;
    --border-first-child: 2rem 0 0 0;
    --border-last-child: 0 2rem 0 0;
    --padding: 1.2rem;
    --box-shadow: 0 2rem 3rem var(--color-light);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

main .contenedor {
    width: 100%;
    margin: 0 auto;
    display: block;
    height: fit-content;
    display: -webkit-flex;
    justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -o-align-items: center;
    -ms-align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;
}

/*main th{
    border-bottom:1px solid;
    
}*/


/*main .table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}*/
table th:first-child {
    border-radius: var(--border-first-child);
}


table th:last-child {
    border-radius: var(--border-last-child);
}

main .table {
    background: var(--color-white);
    min-width:95%;
    max-height: 10px;
    margin-top: 0.8rem;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: all 0.5s ease;
    border-collapse:collapse;    
    color: var(--color-sidebar);
    /*min-height:400px;*/
}

main .table thead tr {
    /*background-color: #009879;*/
    background-color: var(--primary-color);
    border-bottom: 1px solid rgba(132, 139, 200, 0.18);
    color: var(--color-white);
    text-align: center;
}

main .table td,
main .table th{
    padding:11px 10px;
    font-size:15px;
}
main .table:hover { 
    box-shadow: none;
}

main .table tr{
    border-bottom:1px solid rgba(132, 139, 200, 0.18);
    
}

main .table tbody > tr:last-child{
    border:none !important;
}

main .top-bar {
    display:flex;
    justify-content:space-between;
    background-color:var(--sidebar-color);
    box-sizing:border-box;
    height:60px;
    
}

main .top-bar .titulo-top{
    color:white;
    margin-top:15px;
    margin-left:30px;
}

main .top-bar .titulo-top h2{
    font-size:18px;
    font-weight:500;
    
}

/*main .table tr:nth-of-type(even) {
    background-color: #f3f3f3;
}*/

/*main .table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}*/
/*main .table th {
    
    height:10px;
}*/