:root {
    --primary-color: #74b71b;
    --primary-color-dark: #537624;
    --sidebar-color: #11101D;
    --color-white: #fff;
    --color-light: rgba(132, 139, 200, 0.18);
    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;
    --btn-radius: 10px;
    --card-border-radius: 1.8rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;
    --btn-radius: 10px;
    --card-padding: 1.8rem;
    --border-first-child: 1.8rem 0 0 0;
    --border-last-child: 0 1.8rem 0 0;
    --padding: 1.2rem;
    --box-shadow: 0 2rem 3rem var(--color-light);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

h1{
    font-weight:600;
}
/**/
/*main .contenedor {
    width: 100%;
    margin: 0 auto;
    height: fit-content;
    display: grid !important;
    grid-template-columns: 23rem 14rem;
    gap:0.5rem;
    justify-content: space-between;
    -o-justify-content: space-between;
    -ms-justify-content: space-between;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    align-items: center;
    -o-align-items: center;
    -ms-align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;
}
*/


main .contenedor {
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 2rem;
    grid-template-columns: auto 26rem;
    
}


main .wrapperTable {
    display: block;
    margin: auto;
    width: 100%;
    height: 80vh;
    box-shadow: var(--box-shadow);
    background: var(--color-white);
    margin-top: 0.8rem;
    border-radius: var(--card-border-radius);
    /*padding: 1px 8px 8px;*/
}

    table th:first-child {
        border-radius: var(--border-first-child);
    }


    table th:last-child {
        border-radius: var(--border-last-child);
    }

    main .contenedor .Empleados {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

main .Empleados .titulo-empleado {
    margin-top: 1.2rem;
    margin-left: 1rem;
}
    

    main .tableEmpleados {
        width: 100%;        
        background: var(--color-white);
        margin-top: 0.8rem;
        border-radius: var(--card-border-radius);
        padding: var(--card-padding);
        text-align: center;
        /*box-shadow: var(--box-shadow);*/
        transition: all 0.5s ease;
        border-collapse: collapse;
        color: var(--color-sidebar);
        /*min-height:10px;*/
    }

        main .tableEmpleados thead tr {
            background-color: var(--primary-color);
            /*background-color:rgba(132, 139, 200, 0.18);
            background-color: #1d1b31;*/
            border-bottom: 1px solid rgba(132, 139, 200, 0.18);
            color: var(--color-white);
            text-align: center;
        }

        main .tableEmpleados td,
        main .tableEmpleados th {
            padding: 11px 10px !important;
            font-size: 15px !important;
        }

        main .tableEmpleados:hover {
            box-shadow: none;
        }

        main .tableEmpleados tr {
            border-bottom: 1px solid rgba(132, 139, 200, 0.18);
        }

        main .tableEmpleados tbody > tr:last-child {
            border: none !important;
        }


main .contenedor .departamentos {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

    main .tableDepartamentos {
       width: 100%;        
        background: var(--color-white);
        margin-top: 0.8rem;
        border-radius: var(--card-border-radius);
        padding: var(--card-padding);
        text-align: center;
        /*box-shadow: var(--box-shadow);*/
        transition: all 0.5s ease;
        border-collapse: collapse;
        color: var(--color-sidebar);
        /*min-height:10px;*/
    }


        main .tableDepartamentos thead tr {
            background-color: var(--primary-color);
            border-bottom: 1px solid rgba(132, 139, 200, 0.18);
            color: var(--color-white);
            text-align: center;
        }

        main .tableDepartamentos td,
        main .tableDepartamentos th {
            padding: 11px 10px;
            font-size: 15px;
        }

        main .tableDepartamentos:hover {
            box-shadow: none;
        }

        main .tableDepartamentos tr {
            border-bottom: 1px solid rgba(132, 139, 200, 0.18);
        }

        main .tableDepartamentos tbody > tr:last-child {
            border: none !important;
        }

    main .top-bar {
        display: flex;
        justify-content: space-between;
        background-color: var(--sidebar-color);
        box-sizing: border-box;
        height: 60px;
    }

        main .top-bar .titulo-top {
            display:flex;
            color: white;
            align-items:center;
            margin-left: 30px;
        }

            main .top-bar .titulo-top h2 {
                font-size: 16px;
                font-weight: 500;
            }

main .departamentos .titulo-departamento {
    margin-top: 1.2rem;
    margin-left: 1rem;
}


/*Tabla responsive*/
main .table-responsive {
    background-color: white;
    margin: auto;
    border-radius: var(--card-border-radius);
    /*height: auto;*/
    height:80vh !important; 
   
}

table.dataTable thead th {
    background-color: var(--primary-color);
    color: white;
    text-align: center !important;
    
}

table.dataTable{
    width:100% !important;
    margin-top: 0.8rem !important;
    height:auto !important;
    max-height:80vh !important;
    /*height:80vh !important;*/
    
}

table.dataTable tr:hover{
    background-color:none !important;
}

table.dataTable.no-footer {
    border-bottom: 0 !important;
}

table.dataTable tbody td {
     word-wrap: break-word;
    text-align: center !important;
}

table.dataTable th{
     word-wrap: break-word;
    border:none !important;
}

main .dataTables_info{
    display:none;
}

main .dataTables_wrapper .dataTables_paginate .paginate_button {
    background-color: white !important;
    border-radius: 50% !important;
    padding: 0.35em 0.81em !important;
    color: var(--sidebar-color) !important;
    font-size: 14px !important;
    border: none !important;
    height: 30px;
    width: 30px;
    transition: all 0.5s ease;
}

main .dataTables_wrapper .dataTables_paginate .paginate_button:hover{
    background: var(--primary-color) !important;
}

    main .dataTables_wrapper .dataTables_paginate .paginate_button:focus {
        background-color: var(--primary-color-dark) !important;
    }

main .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_paginate{
    float:none !important;
    text-align:center !important;
}



main .dataTables_wrapper .dataTables_paginate .paginate_button.current {
    background-color: var(--primary-color) !important;
    color: white !important;
}

main .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
    color:white !important;
    background-color: var(--primary-color-dark) !important; 
}

/*Fin tabla responsive*/
/*--------------Media Screen----------------*/
@media screen and (min-width: 300px) and (max-width: 519px) {
    main .tableEmpleados th, main .tableEmpleados td {
        font-size: 6px !important;
    }

    main .tableEmpleados{
        table-layout:fixed;
        
    }

    main .table-responsive {
        background-color: white;
        margin: auto;
        border-radius: var(--card-border-radius);
        height: 40vh;
    }

    /*main .wrapperTable {
        display: block;
        margin: auto;
        width: 100%;
        height: 40vh;
        box-shadow: var(--box-shadow);
        background: var(--color-white);
        margin-top: 0.8rem;
        border-radius: var(--card-border-radius);
    }*/
}

@media screen and (min-width: 520px) and (max-width: 682px) {
   

    main .tableEmpleados th,
    main .tableEmpleados td {
        font-size: 8px !important;
    }

    /*main .wrapperTable {
        display: block;
        margin: auto;
        width: 100%;
        height: 40vh;
        box-shadow: var(--box-shadow);
        background: var(--color-white);
        margin-top: 0.8rem;
        border-radius: var(--card-border-radius);*/
        /*padding: 1px 8px 8px;*/
    /*}*/

    main .table-responsive {
        background-color: white;
        margin: auto;
        border-radius: var(--card-border-radius);
        height: 40vh;
    }

}

@media screen and (min-width: 683px) and (max-width: 768px) {
   

    main .tableEmpleados th,
    main .tableEmpleados td {
        font-size: 13px !important;
    }
}

@media screen and (max-width: 1200px) {
    main .contenedor {
        display: block;
        width: 80%;
        margin: 0 auto;
    }

        main .contenedor .Empleados {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 100%;
        }

        main .contenedor .departamentos {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 100%;
        }

    main .tableEmpleados {
        background: var(--color-white);
        margin-top: 0.8rem;
        border-radius: var(--card-border-radius);
        padding: var(--card-padding);
        text-align: center;
        /*box-shadow: var(--box-shadow);*/
        transition: all 0.5s ease;
        border-collapse: collapse;
        color: var(--color-sidebar);
        /*min-height:10px;*/
    }

    main .wrapperTable {
        display: block;
        margin: auto;
        width: 100%;
        height: 25vh;
        box-shadow: var(--box-shadow);
        background: var(--color-white);
        margin-top: 0.8rem;
        border-radius: var(--card-border-radius);
        /*padding: 1px 8px 8px;*/
    }

    main .table-responsive {
        background-color: white;
        margin: auto;
        border-radius: var(--card-border-radius);
        height: 45vh;
    }
   

}