@{
    ViewData["Title"] = "Citas";
}

<script src="~/lib/daypilot/daypilot-all.min.js"></script>

<div class="column-left">
    <div id="nav"></div>
</div>
<div class="column-main">
    <div class="toolbar">Available time slots:</div>
    <div id="calendar"></div>
</div>

<script>
const app = {
    get patientId() {
            return '@Context.Session.GetString("username")';
    },
    async loadEvents(day) {
        const start = nav.visibleStart() > DayPilot.Date.now() ? nav.visibleStart() : DayPilot.Date.now();
        const end = nav.visibleEnd();
        const patient = app.patientId;

        const {data} = await DayPilot.Http.get(`https://localhost:7270/Citas/Libres?start=${start}&end=${end}&patient=${patient}`);
        if (day) {
            calendar.startDate = day;
        }
        calendar.events.list = data;
        calendar.update();

        nav.events.list = data;
        nav.update();
    },
    init() {
        app.loadEvents();
    }
};

const nav = new DayPilot.Navigator("nav", {
    selectMode: "week",
    showMonths: 3,
    locale:"es-mx",
    skipMonths: 3,
    onTimeRangeSelected: (args) => {
        const weekStarts = DayPilot.Locale.find(nav.locale).weekStarts;
        const start = args.start.firstDayOfWeek(weekStarts);
        const end = args.start.addDays(7);
        app.loadEvents(start, end);
    }

});
nav.init();

const calendar = new DayPilot.Calendar("calendar", {
    viewType: "Week",
    locale: "es-mx",
    timeRangeSelectedHandling: "Disabled",
    eventMoveHandling: "Disabled",
    eventResizeHandling: "Disabled",
    eventArrangement: "SideBySide",
    onBeforeEventRender: (args) => {
        switch (args.data.status) {
          case "Libre":
            args.data.backColor = "#3d85c6";  // blue
            args.data.barHidden = true;
            args.data.borderColor = "darker";
            args.data.fontColor = "white";
            args.data.html = `Disponible<br/>${args.data.doctorName}<br/>${args.data.empleado.departamento.nombre}`;
            break;
          case "En espera":
            args.data.backColor = "#e69138";  // orange
            args.data.barHidden = true;
            args.data.borderColor = "darker";
            args.data.fontColor = "white";
            args.data.html = `Cita por confirmar<br/>${args.data.doctorName}<br/>${args.data.empleado.departamento.nombre}`;
            break;
          case "Confirmada":
            args.data.backColor = "#6aa84f";  // green
            args.data.barHidden = true;
            args.data.borderColor = "darker";
            args.data.fontColor = "white";
                    args.data.html = `Cita confirmada<br/>${args.data.doctorName}<br/>${args.data.empleado.departamento.nombre}`;
            break;
        }
    },
    onEventClick: async (args) => {
        if (args.e.data.status !== "Libre") {
          calendar.message("La hora seleccionada no está disponible");
          return;
        }

        const form = [
          {name: "Solicitar una cita"},
          {name: "Inicio", id: "start", dateFormat: "MMMM d, yyyy h:mm tt", disabled: true},
          {name: "Fin", id: "end", dateFormat: "MMMM d, yyyy h:mm tt", disabled: true},
          {name: "Nombre completo", id: "name", disabled: true},
        ];

        const data = {
          id: args.e.id(),
          start: args.e.start(),
          end: args.e.end(),
          patient: app.patientId,
          name: '@Context.Session.GetString("nombre_completo") @Context.Session.GetString("apellido_completo")'
        };

        const options = {
          focus: "name"
        };

        const modal = await DayPilot.Modal.form(form, data, options);
        if (modal.canceled) {
          return;
        }

            await DayPilot.Http.put(`https://localhost:7270/Citas/${data.id}/request`, modal.result);

        args.e.data.status = "En espera";
        calendar.events.update(args.e.data);

    }
});
calendar.init();

app.init();

</script>