@model List<CitaModel>

@{
    ViewData["Title"] = "Gestion Citas";
}

@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.0.3/index.global.min.js"></script>
    <script>

        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth'
            });
            calendar.render();
        });

    </script>

}


<link href="https://cdn.jsdelivr.net/npm/fullcalendar@6.0.3/main.min.css" rel="stylesheet">

<head>
    <meta charset='utf-8' />
    <script src='fullcalendar/dist/index.global.js'></script>
    
</head>
<body>
    <div id='calendar'></div>
</body>


